@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto,sans-serif;
}
.top-section{
    background-color: #1f2937;
}
#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-link{
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}
.navbar{
display: flex;
flex-direction: row;
}

ul{
    list-style-type: none; 
    display: flex;
    flex-direction: row; 
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
   
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.sign-up-top-container{
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
}
img{
   margin: 50px; 
}

.p-first{
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 95px;
}

h2{
    font-size: 36px;
     font-weight: bolder;
     color:  #152937;
     text-align: center;
}

.row-of-blue-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    

}

.box-blue{
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-second{
    text-align: center;
    font-size: 18px;
}

.middle-section{
    background-color:#e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
h3{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color:#1F2937;
    text-align: center;
}
.p-middle{
    font-size: 30px;
    color: #152937;
  
}
#p-middle{
    display: flex;
    justify-content: flex-end;
    margin-right: 400px;
}

.bottom-section{
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.blue-container{
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;

}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 h4{
    font-size: 24px;
    color: #e5e7eb;
}

.last-p{
    color: #e5e7eb;
    font-size: 18px;
}

.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-last-div{
    background-color: #3882F6;
    color: #e5e7eb;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 10%;
    padding: 30px;
    color: white;
}